.app {
    margin: 0 auto;
    min-height: 100vh;
    font-family: 'Rubik';
    color: var(--white);
    font-size: 18px;
    font-weight: 400;
    color: var(--white);
    background-color: var(--very-dark-blue);
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }