.app {
    margin: 0 auto;
    min-height: 100vh;
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
    background-color: var(--saturated-dark-blue);
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }