.dashboard {
  margin: 0;
  padding: 0;
}

.dashboard__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  gap: 24px;
  justify-content: start;
}

@media screen and (min-width: 1140px) {
  .dashboard__list {  
    grid-template-columns: repeat(3, 255px);
    gap: 30px;
  }
}