.dashboard {
  margin: 0;
  padding: 0;
  max-width: 825px;
}

.dashboard__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  gap: 24px;
  justify-content: start;
}

@media screen and (min-width: 720px) {
  .dashboard__list {  
    gap: 30px;
  }
}